localhost:2015 {
    root public
    basicauth   /admin user pass
    log
    hugo . {
      flag buildDrafts
      flag buildFuture
      flag watch
    }
    errors errors.log
    tls         off
}
